* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Impact", serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: #854612;
  text-underline-offset: 0.2em;
}

a:hover {
  text-decoration: underline;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0.25rem 0;
}