* {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  padding-bottom: 0.2em;
  border-bottom: 2px solid black;
}

body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
}

a {
  color: #854612;
  text-underline-offset: 0.25em;
}

ul,
ol {
  list-style-type: circle;
}
li {
  padding-bottom: 0.666rem;
}
